In [155]:
import pandas as pd
import os
CSV_FILEPATH='./data_files/match_file.csv'
JSON_FILEPATH='./data_files/source_data.json'


csv_file=pd.read_csv(CSV_FILEPATH)
json_file=pd.read_json(JSON_FILEPATH,lines=True)

df1 = pd.io.json.json_normalize(json_file.to_dict('records'))
df2 = pd.io.json.json_normalize(df1.practices.apply(lambda x: x[0]).tolist())

In [156]:
df1.head()

,doctor.first_name,doctor.last_name,doctor.npi,practices
0,Dean,Israel,85103080143784778415,"[{'city': 'Port Demetris', 'lon': '84.31253504..."
1,Quinton,Mollie,36233383542350521233,"[{'city': 'Nealville', 'lon': '-95.33450729432..."
2,Vincent,Abbie,68951826121607537145,"[{'city': 'West Lonnieberg', 'lon': '109.12414..."
3,Gerardo,Piper,92442805782715742535,"[{'city': 'Grantborough', 'lon': '12.229188372..."
4,Dean,Francesco,83029151715578341587,"[{'city': 'New Fredy', 'lon': '-41.46795232079..."

In [3]:
df1['city'] = df2.city
df1['lat'] = df2.lat
df1['lat'] = df2.lat
df1['state'] = df2.state
df1['street'] = df2.street
df1['street_2'] = df2.street_2
df1['zip'] = df2.zip

In [4]:
df1 = df1.drop(['practices'], 1).copy()
df1.head()

,doctor.first_name,doctor.last_name,doctor.npi,city,lat,state,street,street_2,zip
0,Dean,Israel,85103080143784778415,Port Demetris,-79.8757664338564,LA,271 Annabelle Fort,Apt. 404,53549
1,Quinton,Mollie,36233383542350521233,Nealville,81.37417480720865,OR,8496 Kennedi Inlet,Suite 815,52665-6811
2,Vincent,Abbie,68951826121607537145,West Lonnieberg,52.12502086274685,GA,210 Walsh Island,Suite 839,59104
3,Gerardo,Piper,92442805782715742535,Grantborough,78.53231427000821,MN,1262 O'Keefe Ford,Apt. 790,39283
4,Dean,Francesco,83029151715578341587,New Fredy,-4.541598251928605,IL,98764 Mante Trafficway,Suite 356,43570

In [5]:
csv_file=pd.read_csv(CSV_FILEPATH)
csv_file.head()

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 glenda islands,suite 163,willport,nj,23453
1,Marshall,Cole,18233577393219566041,59944 adaline harbor,apt. 862,keelingstad,al,94189-5965
2,Lawson,Lilliana,78792788275411915642,36175 amina mount,apt. 256,north daija,de,30997-4476
3,Martine,Kiana,23583155472740817761,188 walsh flat,apt. 891,yasmeenstad,nv,83568
4,Leatha,Freida,NaN,43796 gutmann plains,suite 341,vonmouth,fl,10500

In [6]:
csv_file.shape

(1265, 8)

In [14]:
csv_file_sort=csv_file.sort_values (by=['first_name'], ascending=[False])

In [26]:
csv_file_sort.head(50)

,first_name,last_name,npi,street,street_2,city,state,zip
628,Zoey,Bridie,NaN,835 spinka neck,apt. 401,lake karenton,ar,26269
1062,Zita,Freda,84331177338738649352,345 juvenal villages,apt. 996,port aaliyahport,co,41113
25,Zita,Yasmin,57219924682871422273,2521 runolfsdottir station,apt. 283,east annetteville,md,62342-2411
726,Zander,Rosina,NaN,NaN,NaN,NaN,NaN,NaN
1260,Zackery,Gillian,11240664612428757450,86907 metz gateway,apt. 469,pourosfurt,tx,47912-8489
814,Zackery,Duane,NaN,NaN,NaN,NaN,NaN,NaN
998,Zack,Luis,68366137855866678907,97506 samson camp,suite 718,south itzel,ia,14516
823,Zachery,Scot,71984277521245586588,4981 fadel branch,suite 323,alishamouth,az,10432-4276
440,Zachery,Zakary,NaN,NaN,NaN,NaN,NaN,NaN
519,Yvonne,Nathanael,32867486660956834157,78245 ryan parks,apt. 439,east karitown,wi,58450-1649
506,Yesenia,Roy,07124851651832757486,3956 anne island,apt. 759,karinefort,ut,63857-2670
1172,Yasmin,Shea,NaN,462 bogan skyway,suite 734,south loribury,pa,14240-7715
442,Yasmin,Elyse,45467957234046371735,2993 d'amore manor,suite 252,north franciscaport,pa,95424-6199
513,Xavier,Estella,18448338536686164773,82751 scottie park,suite 123,new koby,ut,41878-3310
750,Xander,Remington,98433831772527805771,220 glenda ranch,apt. 553,port duncanchester,tn,31521-8231
111,Xander,Neoma,NaN,NaN,NaN,NaN,NaN,NaN
373,Wyman,Catharine,01527744028779369636,344 dach islands,apt. 833,friesenshire,al,85628
895,Wyman,Michel,09842054671284820179,NaN,NaN,NaN,NaN,NaN
944,Winona,Bernadette,NaN,NaN,NaN,NaN,NaN,NaN
581,Winifred,Clarissa,NaN,9643 harris plaza,suite 238,donatoton,mo,56587
912,Winfield,Hellen,56759584710252165672,632 hudson glens,suite 470,sipesville,la,47198-9784
827,Wilton,Hunter,NaN,56077 ashlee walk,suite 457,west alizechester,nv,50869
1012,Wilson,Emmet,69886523111195884809,74191 gutmann place,suite 377,port enidview,ca,89295-5544
109,Wilma,Lamont,51329872375832417541,77157 ewald stravenue,suite 323,mathiasfurt,ne,93781
307,Willie,Kristopher,49489290886975120877,519 carter ville,apt. 797,brigittestad,sc,32581
556,Wilhelm,Tad,03315244686344339476,NaN,NaN,NaN,NaN,NaN
707,Wilfrid,Eli,58627451442571360995,4616 lloyd fords,suite 440,lake larry,va,12733
349,Wilfred,Tyson,46722285624416358751,1817 hollie lane,apt. 716,port giovannimouth,ks,23097
1108,Wilburn,Whitney,75742175831538120817,541 eveline mews,suite 697,wunschmouth,ma,56440-0863
659,Whitney,Nasir,NaN,NaN,NaN,NaN,NaN,NaN
1264,Whitney,Luis,12745874446123256447,41373 carter canyon,suite 933,wolfland,il,12512
494,Weston,Winona,95419088522820126523,9792 gia courts,suite 471,bergnaumtown,ia,21139-4986
1055,Westley,Betsy,63453507435252728862,1647 moises brooks,apt. 761,laneyton,nc,67839-4925
909,Westley,Rusty,NaN,451 juanita landing,apt. 916,port berta,wa,49442
1038,Wendy,Anthony,11351343440345156143,109 swaniawski village,suite 901,east diana,ms,40283
886,Wendell,Leonard,27258035474678646463,8632 beahan dam,apt. 577,robbmouth,ne,12501
81,Wellington,Tania,13718845714212245177,6535 rossie cape,apt. 406,north hazle,il,71955-4474
1213,Wellington,Eveline,52224515635263622552,NaN,NaN,NaN,NaN,NaN
739,Weldon,Delta,NaN,77116 norris summit,suite 387,lake tristinfurt,az,38899
548,Walton,Wallace,65457710845788423178,1018 o'keefe centers,apt. 424,abigailview,nc,75277
671,Wallace,Roxanne,61560018841422415715,17634 blaze unions,apt. 415,kristianside,sd,12277
721,Wade,Marilie,NaN,840 destiney walks,apt. 389,helenaberg,ok,12336-6737
1242,Wade,Geo,NaN,73224 brycen crest,apt. 797,russelland,ut,63918-5609
941,Vladimir,Anya,21110045522637544875,827 reichel village,suite 527,east garrison,ak,92859-9532
247,Vivien,Jana,NaN,7243 brian court,apt. 146,east carmella,ak,12909
575,Vita,George,46589321794432982655,528 kulas keys,apt. 749,annabelbury,ga,33873-8280
968,Virginia,Sheridan,35482232374763781185,840 frances shores,suite 386,bergeland,wi,12963
86,Violet,Camren,44784941826932498825,941 lera hill,apt. 319,south jaycee,ks,33460
621,Violet,Austen,38679215335687362976,NaN,NaN,NaN,NaN,NaN
652,Violet,Norbert,51124202146750572513,99621 hauck mountain,suite 638,port daronton,ok,84980-8081

In [17]:
df1_sort=df1.sort_values (by=['doctor.first_name'], ascending=[False])

In [103]:
df1_sort.head(1)

,doctor.first_name,doctor.last_name,doctor.npi,city,lat,state,street,street_2,zip
1834,Zora,Vernie,61247638431297532476,Wildermanfort,-15.671467726643684,KY,1068 Yost Lock,Apt. 737,22429

In [173]:
import json
fname_list = []
lname_list = []
npi_list = []

lat_list = []
lon_list = []
street_list = []
street_2_list = []
city_list = []
state_list = []
zip_list = []
unique_fname_list= []
unique_lname_list= []
unique_npi_list= []

i = 1
with open(JSON_FILEPATH, 'r+') as infile:
    for line in infile:
        line = line.replace("\\", r"\\")
        line = json.loads(line)
        
        for index, elem in enumerate(line['practices']):
            if line['doctor']['npi'] not in unique_npi_list:
                unique_fname_list.append(line['doctor']['first_name'])
                unique_lname_list.append(line['doctor']['last_name'])
                unique_npi_list.append(line['doctor']['npi'])
            fname_list.append(line['doctor']['first_name'])
            lname_list.append(line['doctor']['last_name'])
            npi_list.append(line['doctor']['npi'])
            lat_list.append(line['practices'][index]['lat'])
            lon_list.append(line['practices'][index]['lon'])
            street_list.append(line['practices'][index]['street'])
            street_2_list.append(line['practices'][index]['street_2'])
            city_list.append(line['practices'][index]['city'])
            state_list.append(line['practices'][index]['state'])
            zip_list.append(line['practices'][index]['zip'])
        '''
        i = i + 1
        if i > 3:
            break
        '''

In [176]:
len(fname_list), len(lname_list), len(street_list), len(street_2_list), len(city_list), \
len(state_list), len(zip_list),\
 len(unique_fname_list), len(unique_lname_list), len(unique_npi_list)

(22443, 22443, 22443, 22443, 22443, 22443, 22443, 11231, 11231, 11231)

In [31]:
new_json_data = pd.DataFrame()
new_json_data['first_name'] = fname_list
new_json_data['last_name'] = lname_list
new_json_data['npi'] = npi_list

new_json_data['lat'] = lat_list
new_json_data['lon'] = lon_list
new_json_data['street'] = street_list
new_json_data['street_2'] = street_2_list
new_json_data['city'] = city_list
new_json_data['state'] = state_list
new_json_data['zip'] = zip_list

In [177]:
doctor_data = pd.DataFrame()
doctor_data['first_name'] = unique_fname_list
doctor_data['last_name'] = unique_lname_list
doctor_data['npi'] =  unique_npi_list

In [182]:
doctor_data.head(10)

  first_name  last_name                   npi
0       Dean     Israel  85103080143784778415
1    Quinton     Mollie  36233383542350521233
2    Vincent      Abbie  68951826121607537145
3    Gerardo      Piper  92442805782715742535
4       Dean  Francesco  83029151715578341587
5   Marshall       Cole  18233577393219566041
6     Lawson   Lilliana  78792788275411915642
7       Coty       Brad  50391514247237749255
8      Billy    Gennaro  10032670447666263763
9      Deion        Mae  36556623055822736995

In [180]:
doctor_data.shape

(11231, 3)

In [186]:
#b) number of Doctors matched with NPI

In [188]:
matched_doctor_on_npi = pd.merge(doctor_data, csv_file, on=['npi'], how='inner')

In [189]:
matched_doctor_on_npi.head()

,first_name_x,last_name_x,npi,first_name_y,last_name_y,street,street_2,city,state,zip
0,Marshall,Cole,18233577393219566041,Marshall,Cole,59944 adaline harbor,apt. 862,keelingstad,al,94189-5965
1,Lawson,Lilliana,78792788275411915642,Lawson,Lilliana,36175 amina mount,apt. 256,north daija,de,30997-4476
2,Martine,Kiana,23583155472740817761,Martine,Kiana,188 walsh flat,apt. 891,yasmeenstad,nv,83568
3,Justyn,Abbie,78362387662864903554,Justyn,Abbie,NaN,NaN,NaN,NaN,NaN
4,Granville,Benton,17871640342222098849,Granville,Benton,95496 dare rue,suite 203,octaviastad,il,45294-0751

In [191]:
matched_doctor_on_npi.shape

(864, 10)

In [ ]:
#b) number of Practices matched with NPI

In [192]:
matched_practices_on_npi = pd.merge(new_json_data, csv_file, on=['npi'], how='inner')

In [193]:
matched_practices_on_npi.head()

,first_name_x,last_name_x,npi,lat,lon,street_x,street_2_x,city_x,state_x,zip_x,first_name_y,last_name_y,street_y,street_2_y,city_y,state_y,zip_y
0,Marshall,Cole,18233577393219566041,67.8952178905721,-71.54982356539455,729 Reuben Stream,Apt. 314,Lake Sheila,AZ,85355,Marshall,Cole,59944 adaline harbor,apt. 862,keelingstad,al,94189-5965
1,Marshall,Cole,18233577393219566041,-84.7669879597025,134.0653096213187,59944 Adaline Harbor,Apt. 862,Keelingstad,AL,94189-5965,Marshall,Cole,59944 adaline harbor,apt. 862,keelingstad,al,94189-5965
2,Marshall,Cole,18233577393219566041,-80.29587184932748,-156.78993611303167,920 Hester Drive,Apt. 759,South Vesta,IA,86170-5877,Marshall,Cole,59944 adaline harbor,apt. 862,keelingstad,al,94189-5965
3,Lawson,Lilliana,78792788275411915642,-5.6687886642665575,-78.53360129963642,36175 Amina Mount,Apt. 256,North Daija,DE,30997-4476,Lawson,Lilliana,36175 amina mount,apt. 256,north daija,de,30997-4476
4,Martine,Kiana,23583155472740817761,35.947411051729944,105.33018901304803,114 Kyra Mills,Apt. 482,Jacquesville,NE,89703-1741,Martine,Kiana,188 walsh flat,apt. 891,yasmeenstad,nv,83568

In [195]:
matched_practices_on_npi.shape #OP

(1718, 17)

In [258]:
csv_file_name_address=pd.read_csv(CSV_FILEPATH)

In [259]:

csv_file_name_address['name_address'] = csv_file_name_address['first_name'] +'_' + csv_file_name_address['last_name'] + '_' + csv_file_name_address['street']+ '_' + csv_file_name_address['street_2']+ '_' + csv_file_name_address['city']+ '_' + csv_file_name_address['state']+'_' + csv_file_name_address['zip']

In [260]:
csv_file_name_address.shape

(1265, 9)

In [261]:
csv_file_name_address.head()
csv_file_name_address.dropna(inplace=True)

In [262]:
import string
import re
regex = re.compile('[%s]' % re.escape(string.punctuation))

In [263]:
csv_file_name_address['name_address']=(csv_file_name_address['name_address'].apply(lambda x: x.lower()))

In [264]:
csv_file_name_address['name_address']

0       ruthe_laverne_569 glenda islands_suite 163_wil...
1       marshall_cole_59944 adaline harbor_apt. 862_ke...
2       lawson_lilliana_36175 amina mount_apt. 256_nor...
3       martine_kiana_188 walsh flat_apt. 891_yasmeens...
6       granville_benton_95496 dare rue_suite 203_octa...
7       brenda_lenna_361 justyn meadow_suite 635_steub...
9       marjory_ulices_5356 hane mountains_suite 254_e...
11      kathryn_shany_817 hammes harbor_apt. 701_dicki...
12      isabelle_nils_590 cummings union_apt. 390_daph...
14      madaline_shirley_62088 krajcik summit_apt. 534...
15      khalid_crystel_89133 schoen ferry_apt. 830_ric...
18      montana_dominic_622 reggie inlet_apt. 456_wuns...
19      justice_jessy_75693 eliseo burgs_suite 102_wit...
20      maryjane_sasha_8210 romaguera ridges_apt. 807_...
21      brice_maximillian_779 macejkovic avenue_suite ...
23      deborah_jolie_2744 kirsten plaza_suite 148_zio...
24      marjory_harley_3238 freeman trail_suite 472_sc...
25      zita_yasmin_2521 runolfsdottir station_apt. 28...
28      nella_sheridan_4326 nitzsche plaza_apt. 445_we...
29      albin_yvette_81997 doug greens_apt. 932_north ...
30      eden_maximillian_5148 deshaun meadow_suite 674...
32      marguerite_johnathan_40437 elissa walks_suite ...
34      cordell_delilah_877 joel landing_apt. 119_lean...
36      julio_ervin_850 gilberto ranch_apt. 720_hauckh...
37      bonnie_jocelyn_79667 ceasar garden_apt. 622_ca...
39      sunny_cletus_46220 aniyah road_suite 610_justo...
41      freddy_sally_649 arvid spring_apt. 556_annabel...
42      sincere_tyree_77158 pietro knoll_suite 859_pac...
43      dylan_shanna_976 steuber river_apt. 277_south ...
45      camylle_haven_86962 alicia vista_apt. 940_east...
                              ...
1218    elinor_kelsi_38002 barton fields_apt. 634_lake...
1220    gregory_kaelyn_28980 prosacco walks_suite 189_...
1222    katarina_jackeline_529 abbigail falls_apt. 773...
1223    anika_morgan_3002 trantow haven_suite 175_west...
1226    keshawn_hellen_160 johnpaul shoal_apt. 819_o'h...
1227    lucious_yasmine_763 nico run_apt. 105_south lu...
1228    vernice_missouri_123 moises union_apt. 427_sou...
1229    quentin_carey_8395 savion spring_apt. 515_west...
1231    raphaelle_elisa_9963 joy trail_suite 459_jenny...
1232    miguel_ottis_7362 rahsaan points_suite 216_por...
1233    audra_kristoffer_42068 rosemarie spur_apt. 810...
1236    tierra_quinn_82378 amanda point_suite 944_new ...
1237    shania_alice_9576 caroline hill_suite 974_west...
1239    geraldine_junior_29188 turner flats_apt. 413_h...
1241    tyra_benedict_2159 muller road_apt. 954_stefan...
1243    oscar_mohammad_971 runolfsson views_suite 648_...
1244    geovanni_coby_862 ernest haven_suite 776_paris...
1246    payton_briana_4701 kasey ports_suite 522_luthe...
1248    keven_rex_7286 keebler centers_suite 964_kirst...
1249    jonathon_carter_26567 schimmel springs_apt. 35...
1250    eden_bonnie_855 daniel inlet_apt. 589_gottlieb...
1252    reuben_arne_218 glover parkways_suite 977_sout...
1253    einar_missouri_63186 herzog pike_suite 405_sou...
1254    reta_daniela_65647 tromp hollow_apt. 871_new b...
1255    reymundo_tiara_1600 wilderman flat_apt. 555_ne...
1258    gavin_rita_356 florencio fort_suite 295_abagai...
1259    stanford_reece_325 darrel road_suite 108_north...
1260    zackery_gillian_86907 metz gateway_apt. 469_po...
1262    nolan_jeffrey_452 unique curve_apt. 158_new ad...
1264    whitney_luis_41373 carter canyon_suite 933_wol...
Name: name_address, Length: 805, dtype: object

In [265]:
csv_file_name_address['name_address']=csv_file_name_address['name_address'].apply(lambda x: regex.sub('', x))

In [266]:
csv_file_name_address['name_address']=csv_file_name_address['name_address'].apply(lambda x: x.replace(' ', ''))

In [268]:
csv_file_name_address.shape,csv_file_name_address.head()

((805, 9),
   first_name last_name                   npi                street   street_2  \
 0      Ruthe   Laverne  44843147983186317848    569 glenda islands  suite 163
 1   Marshall      Cole  18233577393219566041  59944 adaline harbor   apt. 862
 2     Lawson  Lilliana  78792788275411915642     36175 amina mount   apt. 256
 3    Martine     Kiana  23583155472740817761        188 walsh flat   apt. 891
 6  Granville    Benton  17871640342222098849        95496 dare rue  suite 203

           city state         zip  \
 0     willport    nj       23453
 1  keelingstad    al  94189-5965
 2  north daija    de  30997-4476
 3  yasmeenstad    nv       83568
 6  octaviastad    il  45294-0751

                                         name_address
 0  ruthelaverne569glendaislandssuite163willportnj...
 1  marshallcole59944adalineharborapt862keelingsta...
 2  lawsonlilliana36175aminamountapt256northdaijad...
 3   martinekiana188walshflatapt891yasmeenstadnv83568
 6  granvillebenton95496dareruesuite203octaviastad...  )

In [269]:
json_data_name_address=new_json_data

In [271]:
json_data_name_address['name_address'] = json_data_name_address['first_name'] +'_' + json_data_name_address['last_name'] + '_' + json_data_name_address['street']+ '_' + json_data_name_address['street_2']+ '_' + json_data_name_address['city']+ '_' + json_data_name_address['state']+'_' + json_data_name_address['zip']

In [272]:
json_data_name_address['name_address']=(json_data_name_address['name_address'].apply(lambda x: x.lower()))

In [273]:
json_data_name_address['name_address']=json_data_name_address['name_address'].apply(lambda x: regex.sub('', x))

In [274]:
json_data_name_address['name_address']=json_data_name_address['name_address'].apply(lambda x: x.replace(' ', ''))

In [275]:
json_data_name_address.shape,csv_file_name_address.head()

((22443, 11),
   first_name last_name                   npi                street   street_2  \
 0      Ruthe   Laverne  44843147983186317848    569 glenda islands  suite 163
 1   Marshall      Cole  18233577393219566041  59944 adaline harbor   apt. 862
 2     Lawson  Lilliana  78792788275411915642     36175 amina mount   apt. 256
 3    Martine     Kiana  23583155472740817761        188 walsh flat   apt. 891
 6  Granville    Benton  17871640342222098849        95496 dare rue  suite 203

           city state         zip  \
 0     willport    nj       23453
 1  keelingstad    al  94189-5965
 2  north daija    de  30997-4476
 3  yasmeenstad    nv       83568
 6  octaviastad    il  45294-0751

                                         name_address
 0  ruthelaverne569glendaislandssuite163willportnj...
 1  marshallcole59944adalineharborapt862keelingsta...
 2  lawsonlilliana36175aminamountapt256northdaijad...
 3   martinekiana188walshflatapt891yasmeenstadnv83568
 6  granvillebenton95496dareruesuite203octaviastad...  )

In [ ]:
# of Doctors matched with name and address

In [277]:
matched_doctor_name_address = pd.merge( json_data_name_address,csv_file_name_address, on = 'name_address',how='inner')

In [278]:
matched_doctor_name_address.head()

,first_name_x,last_name_x,npi_x,lat,lon,street_x,street_2_x,city_x,state_x,zip_x,name_address,first_name_y,last_name_y,npi_y,street_y,street_2_y,city_y,state_y,zip_y
0,Marshall,Cole,18233577393219566041,-84.7669879597025,134.0653096213187,59944 Adaline Harbor,Apt. 862,Keelingstad,AL,94189-5965,marshallcole59944adalineharborapt862keelingsta...,Marshall,Cole,18233577393219566041,59944 adaline harbor,apt. 862,keelingstad,al,94189-5965
1,Lawson,Lilliana,78792788275411915642,-5.6687886642665575,-78.53360129963642,36175 Amina Mount,Apt. 256,North Daija,DE,30997-4476,lawsonlilliana36175aminamountapt256northdaijad...,Lawson,Lilliana,78792788275411915642,36175 amina mount,apt. 256,north daija,de,30997-4476
2,Martine,Kiana,23583155472740817761,-31.584772592655966,-136.74090970869585,188 Walsh Flat,Apt. 891,Yasmeenstad,NV,83568,martinekiana188walshflatapt891yasmeenstadnv83568,Martine,Kiana,23583155472740817761,188 walsh flat,apt. 891,yasmeenstad,nv,83568
3,Granville,Benton,17871640342222098849,46.184575751643024,86.26226978060578,95496 Dare Rue,Suite 203,Octaviastad,IL,45294-0751,granvillebenton95496dareruesuite203octaviastad...,Granville,Benton,17871640342222098849,95496 dare rue,suite 203,octaviastad,il,45294-0751
4,Brenda,Lenna,88137148807320232511,-74.74155611941049,-138.5434541219899,361 Justyn Meadow,Suite 635,Steuberhaven,LA,71148-1931,brendalenna361justynmeadowsuite635steuberhaven...,Brenda,Lenna,88137148807320232511,361 justyn meadow,suite 635,steuberhaven,la,71148-1931

In [279]:
matched_doctor_name_address.shape

(691, 19)

In [ ]:
# of Practice matched with address

In [282]:
csv_file_address_cleaned=pd.read_csv(CSV_FILEPATH)
csv_file_address_cleaned.head()
csv_file_address_cleaned.dropna(inplace=True)

csv_file_address_cleaned['address'] = csv_file_address_cleaned['street']+ '_' + csv_file_address_cleaned['street_2']+ '_' + csv_file_address_cleaned['city']+ '_' + csv_file_address_cleaned['state']+'_' + csv_file_address_cleaned['zip']
csv_file_address_cleaned['address']=csv_file_address_cleaned['address'].apply(lambda x: x.lower())
csv_file_address_cleaned['address']=csv_file_address_cleaned['address'].apply(lambda x: regex.sub('', x))
csv_file_address_cleaned['address']=csv_file_address_cleaned['address'].apply(lambda x: x.replace(' ', ''))

In [283]:
csv_file_address_cleaned.head()

,first_name,last_name,npi,street,street_2,city,state,zip,address
0,Ruthe,Laverne,44843147983186317848,569 glenda islands,suite 163,willport,nj,23453,569glendaislandssuite163willportnj23453
1,Marshall,Cole,18233577393219566041,59944 adaline harbor,apt. 862,keelingstad,al,94189-5965,59944adalineharborapt862keelingstadal941895965
2,Lawson,Lilliana,78792788275411915642,36175 amina mount,apt. 256,north daija,de,30997-4476,36175aminamountapt256northdaijade309974476
3,Martine,Kiana,23583155472740817761,188 walsh flat,apt. 891,yasmeenstad,nv,83568,188walshflatapt891yasmeenstadnv83568
6,Granville,Benton,17871640342222098849,95496 dare rue,suite 203,octaviastad,il,45294-0751,95496dareruesuite203octaviastadil452940751

In [284]:
json_data_address=new_json_data
json_data_address['address'] = json_data_address['street']+ '_' + json_data_address['street_2']+ '_' + json_data_address['city']+ '_' + json_data_address['state']+'_' + json_data_address['zip']
json_data_address['address']=(json_data_address['address'].apply(lambda x: x.lower()))
json_data_address['address']=json_data_address['address'].apply(lambda x: regex.sub('', x))
json_data_address['address']=json_data_address['address'].apply(lambda x: x.replace(' ', ''))

In [289]:
matched_doctor_name_address = pd.merge( json_data_address,csv_file_name_address, on = 'name_address',how='inner')

In [290]:
matched_doctor_name_address.size

13820

In [291]:
matched_doctor_name_address.shape

(691, 20)

In [ ]:
###########end

In [133]:
doctor_npi.head()

                    npi
0  77258317412194649714
1  61265046217225477205
2  72859758079289784411
3  48589822023337944548
4  45117481523237816620

In [152]:
merged_df = pd.merge(new_json_data, csv_file, on=['npi'], how='left')

In [154]:
merged_df=merged_df.groupby(['npi'])['npi'].agg(['count'])

In [159]:
df3 = pd.io.json.json_normalize(json_file.to_dict('records'))

df3.size

In [37]:
missing_df = new_json_data.isnull().sum(axis=0).reset_index()
missing_df.columns = ['column_name', 'missing_count']
missing_df = missing_df.loc[missing_df['missing_count']>0]
missing_df

Empty DataFrame
Columns: [column_name, missing_count]
Index: []

In [160]:
df3.size

44924

In [82]:
merged_df = pd.merge( new_json_data,csv_file, on=['npi'], how='inner')

In [74]:
pd.merge( new_json_data,csv_file, on=['npi'], how='inner').npi.unique().size

864

In [111]:
df = new_json_data.groupby('npi')['count']

KeyError: 'Column not found: count'

In [109]:
print(df)

<pandas.core.groupby.DataFrameGroupBy object at 0x00000201238DADD8>

(1718, 17)